.app, html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;  
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('background.png');
}

.app{
  position: relative;
}

.cursor-pointer{
  cursor: pointer;
}

.home-main > div{
  margin-top: 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-main {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.home-main img{
  position: relative;
  top: 30px;
  height: 40vmin;
  pointer-events: none;
}

.home-main .logo-text{
  font-size: calc(4em + 1vw);
  position: relative;
  top: -20px;
  left: -8px;
}

.home-main .home-slogan{
  position: relative;
  text-align: center;;
  top: -70px;
  font-size: calc(.8em + .75vw);
  opacity: .7;
}

.App-link {
  color: #61dafb;
}

@keyframes expand{
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}


.circle-loader {
 display:flex;
 align-items: center;
 justify-content: center;
 flex:1; 
}

.circle-loader > div{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #7986cb;
  animation: loader-spin 1.2s infinite linear;
  display:inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 8em;
  height: 8em;
}


.navbar{
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  padding: 12.5px;
  display:flex;
  justify-content: space-between;
  background: #EAEBF3;
}

a{
  text-decoration: none;
}

.navbar-logo-loggedin{
  position: relative;
  left: 80%;
}

.navbar-logo{
  cursor: pointer;
  display:flex;
  justify-content: flex-start;
}

.navbar-logo > img{
  height: calc(4em + 1vw);
  margin-right: 10px;
}

.logo-text{
  font-family: 'Baloo';
  color: #494F55;
}

.navbar-logo > span {
  position: relative;
  margin-left: 3px;
  top: 10px;
  font-size: calc(26.6px + 1vw);
}

.navbar-buttons{
  position: relative;
  display:flex;
  margin-left: 50px;
  margin-top: 10px;
}

.navbar-buttons > button {
  margin-right: 35px;
}

.navbar-button{
  outline: none;
  cursor: pointer;
  position: relative;
  top: 10px;
  padding: 0 25px;
  color: white;
  background-color: #FFCE70; 
  border-radius: .25em;
  padding-top: 2.5px;
  height: 42.5px;
  font-size: calc(14px + .65vw);
  transition: .4s ease;
  font-family: 'Baloo';
}

.navbar-button:focus{
 outline: none;
}

.navbar-button:hover{
  transform: translateY(-3px);
}


.overlay{
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.2);
  overflow-x: hidden;
  position: fixed;
  animation: expand;
  z-index: 101;
  animation-fill-mode: forwards;
  animation-duration: .45s; 
  transition: 0.4s ease;
  width: 100%;
}

.sign-card{
  cursor: default;
  width: 80vw;
  max-width: 350px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: absolute;
  background: rgb(156,247,249);
  background: linear-gradient(22deg, rgba(156,247,249,.45) 0%, rgba(249,205,110,.45) 88%);
  padding: 30px 30px 0px 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-card-logo{
  text-align: center;
}

.sign-card-logo > img{
  height: calc(3.5em + 5vw);
}

.sign-card-title{
  text-align: center;
  margin: 15px;
  font-weight: 900;
  font-size: calc(18px + .5vw);
}


.sign-card-textfields{
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 30px;
}


.sign-card-textfields > div{
  margin: 15px;
}

input{
  background: transparent;  
}

.sign-card-button{
  text-align: center;
  margin: 7.6px;
}

.sign-card-button > button{
  width: 200px;
}

.sign-card-horitontal-line{
  margin: 30px 0 0 0;
}

.sign-card-footer{
  text-align: center;
  position: relative;
  bottom: 5px;
  margin-top: 10px ;
  opacity: .7;
  padding: 7.5px 0;
}

.sign-card-footer > span {
  cursor: pointer;
  color: rgba(0, 0, 255, .7);
  transition: .4s ease;
}

.sign-card-footer > span:hover{
  color: rgba(0, 0, 255, 1);
}

.home-main-buttons{
  display: flex;
  justify-content: space-around;
  width: 35%;
  position: relative;
  top: -50px;
}

.home-main-buttons > button{
  outline: none;
  cursor: pointer;
  position: relative;
  top: 10px;
  padding: 0 25px;
  color: white;
  border-radius: .25em;
  padding-top: 2.5px;
  height: 42.5px;
  font-size: calc(14px + .65vw);
  transition: .4s ease;
  font-family: 'Baloo';
}

.home-main-buttons > button:hover{
  transform: translateY(-3px);
}

.home-main-buttons > button:focus{
  outline: none;
}

.home-main-buttons > button:nth-child(1){
  background-color: #FFCE70; 
}

.home-main-buttons > button:nth-child(2){
  background-color: #494F55;
}

.side-bar{
  position: fixed;
  z-index: 102;
  padding: 20px 0;
  height: 100%;
  width: 18%;
  background-color: #FFCE70; 
}

.side-bar-title{
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: calc(1.5em + .5vw);
}

.side-bar-lectures-title{
  position: relative;
  left: 25px;
  font-weight: 900;
  font-size: calc(.9em + .5vw);
}

.side-bar-courses-title{
  font-size: calc(.7em + .5vw);
  font-weight: 700;

}

.side-bar-lecture{
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
}

.side-bar-lecture:hover{
  background: #eeeeee;

.empty-view {
  background-image: url('background.png');

}